@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 57% 99%;
    --foreground: 221 75% 5%;
    --muted: 191 24% 88%;
    --muted-foreground: 191 9% 33%;
    --popover: 221 57% 99%;
    --popover-foreground: 221 75% 5%;
    --card: 221 57% 99%;
    --card-foreground: 221 75% 5%;
    --border: 221 12% 94%;
    --input: 221 12% 94%;
    --primary: 221 100% 35%;
    --primary-foreground: 221 100% 95%;
    --secondary: 191 100% 35%;
    --secondary-foreground: 0 0% 100%;
    --accent: 251 100% 35%;
    --accent-foreground: 251 100% 95%;
    --destructive: 13 98% 32%;
    --destructive-foreground: 13 98% 92%;
    --ring: 221 100% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 221 57% 2%;
    --foreground: 221 17% 99%;
    --muted: 191 24% 12%;
    --muted-foreground: 191 9% 67%;
    --popover: 221 57% 2%;
    --popover-foreground: 221 17% 99%;
    --card: 221 57% 2%;
    --card-foreground: 221 17% 99%;
    --border: 221 12% 10%;
    --input: 221 12% 10%;
    --primary: 221 100% 35%;
    --primary-foreground: 221 100% 95%;
    --secondary: 191 100% 35%;
    --secondary-foreground: 0 0% 100%;
    --accent: 251 100% 35%;
    --accent-foreground: 251 100% 95%;
    --destructive: 13 98% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 221 100% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
